<div class="page-header page-header-small" filter-color="purple" style="height: 40vh;">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/img/lisbon2.jpg');">
    </div>
    <div class="container">
        <div class="content-center" style="padding-top: 5cm; padding-bottom: 1cm">
            <h1 class="title">SBFT 2024</h1>
            <div class="text-center">
                <h5>The 17th Intl. Workshop on Search-Based and Fuzz Testing</h5>
                <h5>14th-20th of April 2024, Lisbon, Portugal</h5>
                <a href="https://www.facebook.com/sbstws/" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="https://twitter.com/sbftworkshop" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://youtube.com/@sbftworkshop" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>