<div class="col-md-4">
    <h6 class="text-primary">Submission site</h6>
    <p><a href="https://sbft2024.hotcrp.com/">HotCRP</a></p>
    <h4 class="subsection">Important Dates</h4>
    <p>Adhering to <a href="https://conf.researchr.org/track/icse-2024/icse-2024-workshops">ICSE&rsquo;24
            workshop dates</a> (<a href="https://www.timeanddate.com/time/zones/aoe">AOE</a>):</p>
    <!--
    <p><a href="/SBFT23_Flyer.pdf" target="_blank">Printable Flyer</a></p>
    <p><a href="/SBFT23_CFP.pdf" target="_blank">Printable Call for Papers</a></p>-->
    <h6 class="text-primary">Paper Submission</h6>
    <p>November 9 2023</p>
    <h6 class="text-primary">Tool Competition Submission</h6>
    <p>December 1 2023</p>
    <h6 class="text-primary">Competition Report</h6>
    <p>January 16 2024</p>
    <h6 class="text-primary">Notification to Authors</h6>
    <p>December 21, 2023</p>
    <h6 class="text-primary">Camera Ready Due</h6>
    <p>January 25, 2024</p>
    <h6 class="text-primary">Author's Registration Due</h6>
    <p>TBA</p>
    <h5>Submission Guidelines</h5>
    <p class="text-justify">All submissions must conform to the <a
            href="https://conf.researchr.org/track/icse-2024/icse-2024-technical-track#About" target="_blank">ICSE&rsquo;24
            formatting and submission instructions</a>. <b>All submissions must be anonymized</b>, in PDF
        format and should be performed electronically through EasyChair.</p>
    <!-- <p><a href="#" target="_blank">TBA</a></p> -->
    <!-- https://publish.twitter.com/ - Generate the code for a new embedded tweet and replace below when we have something to share. -->
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Great news! We have a plethora of tool competitions for you to work on this year, including the fantastic looking CPS -UAV challenge from <a href="https://twitter.com/SajadKhatiri?ref_src=twsrc%5Etfw">@SajadKhatiri</a>.<br><br>Head on over to our tools page for more information and dates (*cough* end of Nov).<br><br>Have fun 😘 <a href="https://t.co/21UZ2Ttd3w">pic.twitter.com/21UZ2Ttd3w</a></p>&mdash; SBFT 2024 (@sbftworkshop) <a href="https://twitter.com/sbftworkshop/status/1711462614465687626?ref_src=twsrc%5Etfw">October 9, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>